:root {
    --backgroundmain: #05010A;
    --backgroundsecondary: #0B0617;
    --primaryred: #E50914;
    --neonred: #FF1B1B;
    --neonpurple: #6B2CFF;
    --electricblue: #2B7CFF;
    --maintext: #F5F5F5;
}

* {
    margin: 0; 
    padding: 0;
}
@keyframes flicker {
  0% { text-shadow: 0 0 5px rgba(229,9,20,0.4); }
  100% { text-shadow: 0 0 18px rgba(229,9,20,0.8); }
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
}
@keyframes pulse {
  0%,100% { opacity: 0.4; }
  50% { opacity: 0.7; }
}

body {
    background-color: black;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 60px;
    background-color: black;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: #E50914;
    letter-spacing: 2px;
}

.logo:hover {
    color: #FF1B1B;
    text-shadow: 0 0 6px rgba(229, 9, 20, 0.6);
}

.navlinks {
    display: flex;
    gap: 50px;
}

.navlinks li {
    list-style: none;
    color: #F5F5F5;
    font-size: 18px;
    cursor: pointer;
}

.navlinks li:hover {
    color: #FF1B1B;
    text-shadow: 0 0 6px rgba(229, 9, 20, 0.6);
}

.hero {
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0px 80px;
    overflow: hidden;
}

.heroimg {
    position: absolute;
    inset: 0;
    background: url(SThero.jpg) center/cover no-repeat;
    animation: breathe 12s ease-in-out infinite;

}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(5, 1, 10, 0.9), rgba(5, 1, 10, 0.4));
    z-index: 2;
}

.hero-content {
    position: relative;
    z-index: 3;
    max-width: 600px;
}

.hero-content h1 {
    color: #F5F5F5;
    font-size: 56px;
    line-height: 1.1;
    animation: flicker 3s infinite alternate;
}

.hero-content p {
    margin: 18px 0 28px;
    color: #B1AEB5;
    font-size: 18px;
}

.herobutton {
    padding: 14px 32px;
    font-size: 16px;
    background: #E50914;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
.corner-video {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 400px;
  height: 260px;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(229,9,20,0.45);
  z-index: 4;
}

.corner-video iframe {
  width: 100%;
  height: 100%;
}
.hero-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(255,27,27,0.15), transparent 60%);
  animation: pulse 6s ease-in-out infinite;
}
